#container {
    display: grid;
    grid-template-rows: 15% 4% 69% 12%;
    height: 100vh;
  /*   grid-gap: 0; */
    margin: 0;
    padding: 0 1%;
    overflow-x: hidden;
  }
  
  body {
  /*   overflow-x: hidden; */
    margin: 0;
    max-height: 100vh;
    background-color: #111111
  }
  
  .txt {
    color: white;
    text-align: center
  }
  
  #bottomline {
    height: 2px;
    background-color: #000000; 
  }
  
  #title {
    text-align: center
  }
  
  nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;
    justify-content: space-evenly;
  /*   background-color: grey; */
    margin: 0;
  }
  
  .nav-items {
    width: 100%;
    border: 1px solid black;
    text-align: center;
    background-color: #e6b800;
    text-decoration: none
  }
  
  .nav-items:active {
    border: 1px solid white;
    outline: 1px solid white;
    color: blue
  }
  
  main {
    overflow-x: scroll;
    margin: 0;
  }
  
  footer {
    text-align: center;
  }
  